ul#menu {
   alignment-adjust:"middle"; 
   padding-top: 20px;
}

ul#menu li {
    display: inline;
    padding-top:8px; 
}

ul#menu li a {
    background-color:#000;
    color: white;
    padding: 20px 20px ;
    text-decoration:none;
   
}

ul#menu li a:hover {
    background-color: yellow;
    color: black;
}
#myCanvas{
    background-color: "#ffffff";
    
}


      
    
       
    
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2015, 10:20:53 PM
    Author     : pshyam
*/

